<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} [%c] %m%n" />
		</layout>
	</appender>
	<appender name="roller" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/tomcat/app.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{yyyy-MM-dd HH:mm:ss} [%c] %m%n" />
		</layout>
	</appender>

    <!-- Apache Tiles -->
    <logger name="org.apache.tiles">
        <level value="warn" />
    </logger>
    <!-- Apache LOG4J -->
	<logger name="org.apache.log4j">
		<level value="warn" />
	</logger>
    <!-- SPRING -->	
	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<root>
		<level value="warn" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="roller" />
	</root>

</log4j:configuration>